<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Smart Book Manager</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/home">
        <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="container">
    <ion-button routerLink="/add-book" >Add Book</ion-button>
    <ion-button routerLink="/book-list">List Of Books</ion-button>
  </div>

</ion-content>

<ion-tab-bar color="secondary">
  <ion-title ><ion-icon name="home-outline"></ion-icon> HOME</ion-title>
</ion-tab-bar>