<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      LOGIN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-card-header color="tertiary">
        <ion-card-title>Connection</ion-card-title>
      </ion-card-header>
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="tertiary" routerLink="/book">Login</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-tab-bar color="secondary">
  <ion-tabs>

  </ion-tabs>
</ion-tab-bar>
